:root {
    --text-main: #E5E7EA;
    --text-secondary: #E5E7EA;
    --text-ternary: #9BA5B0;
    --background: #222933;
    --hr: #414C58;
    --tile-correct-border: #F5F7FB;
    --tile-correct-text: #F5F7FB;
    --tile-blank: #636F7B;
    --tile-blank-border: #CBD2D7;
    --tile-typing: #CBD2D7;
    --tile-typing-border: #9BA5B0;
    --tile-typing-text: #222933;
    --tile-key: #414C58;
    --tile-key-border: #54606C;
    --tile-key-text: #F5F7FB;
    --modal: #414C58;
    --modal-border: #E5E7EA;
    --slider: #E5E7EA;
    --slider-bg: #7D8694;
    --slider-checked-alt: #54606C;
    --green: #64AF64;
    --green-secondary: #69B869;
    --red: #E64646;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
        ;
    padding: 7px;
}

input[type='checkbox'] {
    display: none;
}

#display-mode {
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: var(--background);
    color: var(--text-main);
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
    touch-action: manipulation;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-top: 10px;
    padding: 0 20px;
}
  
#info-btn {
    font-size: 24px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 50px;
    margin-top: 2px;
}   

#left-header {
    margin-right: auto;
    display: flex;
}
  
#title {
    font-size: 36px;
    text-align: center;
    margin: 0;
}
  
#timer {
    font-size: 30px;
    text-align: right;
    overflow: hidden;
}
  
.word {
    font-size: 30px;
    margin: 0 auto;
}

hr {
    width: 98%;
    border: 1px solid var(--hr);
    border-radius: 3px;
}

.board-container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.keyboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
}

.letters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.word-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.word-container.game-over {
    padding: 5px;
}

.actions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.slots {
    height: 70px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tile {
    /* Box */
    border: 2px solid var(--tile-blank-border);
    width: 60px;
    height: 60px;
    margin: 4px;
    background-color: var(--tile-blank);
    border-radius: 5px;

    /* Text */
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}

.active {
    background-color: var(--tile-typing);
    color: var(--tile-typing-text);
    border-color: var(--tile-typing-border)
}

.tile.key {
    background-color: var(--tile-key);
    border-color: var(--tile-key-border);
    color: var(--tile-key-text);
    border-radius: 10px;
}

#enter {
    width: 120px;
}

.correct {
    animation: bounce .32s cubic-bezier(0.470, 0.000, 0.745, 0.715) alternate, makeGreen .32s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards;
}
.correct:nth-child(1) {
    animation-delay: .05s;
}
.correct:nth-child(2) {
    animation-delay: .1s;
}
.correct:nth-child(3) {
    animation-delay: .15s;
}
.correct:nth-child(4) {
    animation-delay: .20s;
}
.correct:nth-child(5) {
    animation-delay: .25s;
}
.correct:nth-child(6) {
    animation-delay: .30s;
}

@keyframes bounce { 
    0% { transform: translateY(0) } 
    50% { transform: translateY(-50px) } 
    100% { transform: translateY(0) } 
}

@keyframes makeGreen {
    100% { border: 2px solid var(--tile-correct-border); background-color: var(--green); color: var(--tile-correct-text); box-shadow: -4px 4px 4px var(--green);} 
}

.wrong {
	animation: shake .5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both, flash .5s ease-out both;
}

@keyframes shake {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }
    10% {
      transform: rotate(4deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(-5deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(5deg);
    }
    80% {
      transform: rotate(-4deg);
    }
    90% {
      transform: rotate(4deg);
    }
}
  
@keyframes flash {
    0% {background-color: var(--tile-blank);} 
    50% {background-color: var(--red);}
    100% {background-color: var(--tile-blank);} 
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 25, 30, 0.8);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}

.modal-welcome{
    width: 100%;
    height: 100%;
    background-color: rgba(20, 25, 30, 0.8);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
}

.modal-outer {
    margin: 20px;
}

.modal-content {
    position: relative;
    max-width: 500px;
    width: 90%;
    background-color: var(--modal);
    border-radius: 5px;
    border: 1px solid var(--modal-border);
    color: var(--text-main);
    padding: 20px; 
    z-index: 2;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42;
    transform: rotate(45deg);
    cursor: pointer;
}

.copy {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    color: var(--tile-key-text);
    background-color: var(--tile-key);
    border: 2px solid var(--tile-key-border);
}

.copied {
    opacity: 0.8;
    cursor: default;
}

.share-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-element {
    margin-right: 15px; 
}

.right-element {
    margin-left: 15px; 
}

#author {
    font-family: monospace;
    color: var(--text-ternary);
}

.blur {
    color: transparent;
    text-shadow: 0 0 12px var(--text-secondary);
    transition: text-shadow 0.3s ease, color 0.2s ease; 
}

.unblur {
    text-shadow: none;
    color: var(--text-secondary);
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
}

.switch-container-smaller {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

#switch-label {
    margin-left: 0;
    margin-right: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-bg);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--slider);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--green);
}

input:checked + .slider.display {
    background-color: var(--slider-checked-alt);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.button {
    background-color: var(--green);
    border: none;
    color: var(--tile-correct-text);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    filter: drop-shadow(-5px 5px 5px #222933);
}  

.button:hover {
    background-color: var(--green-secondary);
    transform: translateY(-2px);
}

@media screen and (max-width: 550px) {
    #title {
        font-size: 28px;
    }

    #timer {
        font-size: 20px;
    }

    .word {
        font-size: 24px;
    }

    .tile {
        width: 45px;
        height: 45px;
        margin: 2px;
        font-size: 28px;
    }

    #enter {
        width: 100px;
    }
   
    #gameOver {
        font-size: medium;
        margin: 20px;
    }

    @keyframes makeGreen {
        100% { border: 2px solid var(--tile-correct-border); background-color: var(--green); color: var(--tile-correct-text); box-shadow: -3px 3px 3px var(--green);} 
    }

}

@media (hover: hover) {
    .tile.key:hover {
      opacity: 0.8; 
    }

    .special-key:hover {
        opacity: 0.8;
    }

    .rounded-button:hover, #copy-btn:hover {
        opacity: 0.8;
    }
}
